# -----------------------------
# Build outputs (ignore all)
# -----------------------------
*.obj
*.exe
*.pdb
*.ilk
*.tlog

# Ignore libs/dlls everywhere
*.lib
*.dll

# -----------------------------
# Keep GLFW binaries
# -----------------------------
!TrekEngine/depend/GLFW3.4/**

# -----------------------------
# Build directories
# -----------------------------
[Dd]ebug/
[Rr]elease/
x64/
x86/


# -----------------------------
# Visual Studio files
# -----------------------------
.vs/
*.vcxproj.user
*.sln.docstates

# -----------------------------
# Logs and temp files
# -----------------------------
*.log
*.tmp

# -----------------------------
# OS-specific junk
# -----------------------------
Thumbs.db
Desktop.ini
.DS_Store
